<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        A Window into the Future
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      
      <p>Let me check those changes for you:</p>
      
      <form action="/upload" method="post" enctype="multipart/form-data"> 
        <div class="changes upload">
          <label>Changes!</label>  
          <input name="changes" type="file">
        </div>

        <div class="windows upload">
          <label>Windows!</label>  
          <input name="windows" type="file">
        </div>
        <button type="submit" id="submit-window-changes">Submit Window Changes</button>
      </form>
      
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
      
      <section class="matched">
        <h2>
          😃 Matches 😃
        </h2>
        <table id="matched">
        </table>
      </section>
      
      <section class="mismatched">
        <h2>
          😕 Mismatches  😕
        </h2>
        <table id="mismatched">
    
        </table>
      </section>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
